{% if testimonials is not empty %}
	<section class="uk-position-relative uk-padding-small uk-padding-remove-top uk-padding-remove-horizontal">
		<div class="swiper swiper-tesimonials">
			<div class="swiper-wrapper">
				{% for testimonial in testimonials %}
					<div class="swiper-slide">
						<div class="testimonial uk-text-center">
							<div class="testimonials__star-rating">
								{% for i in 1..testimonial.meta('testimonial_rating')|default(5) if (i > 0) and (i < 6) %}
									<span class="testimonials__star">
										<svg aria-hidden="true" focusable="false" role="presentation" width="24" height="24" viewbox="0 0 24 24" fill="#FFD700">
											<path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
										</svg>
									</span>
								{% endfor %}
							</div>
							<p class="uk-h3 uk-padding uk-padding-remove-vertical uk-margin-top">{{testimonial.content|e('wp_kses_post')}}</p>
							<p>- {{testimonial.title|e('esc_html')}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</section>
	<script>
		var tesimonials_swiper = new Swiper('.swiper-tesimonials', {
			slidesPerView: 1,
			spaceBetween: 0,
			autoplay: {
				delay: 4000,
				disableOnInteraction: true,
			},
			// init: false,
			pagination: {
				el: '.swiper-pagination',
				dynamicBullets: true
			}
		});
	</script>
{% endif %}
